<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学生学号：</label>
                                <input type="text" name="studentNumber" value=""/>
                            </li>
                            <li>
                                <label>学生姓名：</label>
                                <input type="text" name="studentName"  value=""/>
                            </li>
                            <li>
                                <label>班级：</label>
                                <input type="text" name="studentClass"  value=""/>
                            </li>
                            <li>
                                 <label>等级：</label>
                                 <input type="text" name="jiangxuejinDengji" value=""/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:news:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:news:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:news:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:news:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:news:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:news:remove')}]];
        var prefix = ctx + "system/news";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【请填写功能名称】",

                columns: [{
                    checkbox: true

                },
                {
                    field: 'id', 
                    title: '编号'

                },
                {
                    field: 'studentNumber', 
                    title: '学号'

                },
                    {
                        field: 'studentClass',
                        title: '班级'

                    },
                {
                    field: 'studentName', 
                    title: '学生姓名'

                },
                {
                    field: 'deyuSizhengAdd', 
                    title: '德育思政加分'
                },
                {
                    field: 'deyuSizhengSub', 
                    title: '德育思政减分'
                },
                {
                    field: 'deyuSizhengNumber', 
                    title: '德育思政总分'
                },
                {
                    field: 'deyuChengxinAdd', 
                    title: '德育诚信加分'
                },
                {
                    field: 'deyuChengxinSub', 
                    title: '德育诚信减分'
                },
                {
                    field: 'deyuChengxinNumber', 
                    title: '德育诚信总分'
                },
                {
                    field: 'deyuNumber', 
                    title: '德育总分'
                },
                {
                    field: 'deyuDengji', 
                    title: '德育等级'
                },
                {
                    field: 'zhiyuJibenjinengAdd', 
                    title: '智育基本技能加分'
                },
                {
                    field: 'zhiyuJibenjinengSub', 
                    title: '智育基本技能减分'
                },
                {
                    field: 'zhiyuJibenjinengNumber', 
                    title: '智育基本技能总分'
                },
                {
                    field: 'zhiyuKejichuangxinAdd', 
                    title: '智育科技创新加分'
                },
                {
                    field: 'zhiyuKejichuangxinSub', 
                    title: '智育科技创新减分'
                },
                {
                    field: 'zhiyuKejichuangxinNumber', 
                    title: '智育科技创新分数'
                },
                {
                    field: 'zhiyuNumber', 
                    title: '智育总分'
                },
                {
                    field: 'tiyuZaocaoAdd', 
                    title: '体育早操加分'
                },
                {
                    field: 'tiyuZaocaoSub', 
                    title: '体育早操减分'
                },
                {
                    field: 'tiyuKewaiAdd', 
                    title: '课外加分'
                },
                {
                    field: 'tuyuKewaiSub', 
                    title: '课外减分'
                },
                {
                    field: 'tuyuNumber', 
                    title: '体育总分'
                },
                {
                    field: 'zongNumber', 
                    title: '总分'
                },
                {
                    field: 'jiangxuejinDengji', 
                    title: '奖学金等级'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>